<div class="container-fluid mt-5">
    <table class="table bg-light">
        <thead>
            <tr>
                <th scope="col">Crypto</th>
                <th scope="col">Prix</th>
                <th scope="col">Devise</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">BTC</th>
                <td>{{ iciweb.EUR }}</td>
                <td>EUR</td>
            </tr>
            <tr>
                <th scope="row">BTC</th>
                <td>{{ iciweb['USD'] }}</td>
                <td>USD</td>
            </tr>
            <tr>
                <th scope="row">ETH</th>
                <td>{{ icicrypto.EUR }}</td>
                <td>EUR</td>
            </tr>
            <tr>
                <th scope="row">ETH</th>
                <td>{{ icicrypto.USD }}</td>
                <td>USD</td>
            </tr>
        </tbody>
    </table>
</div>