<div class="row">
    <div class="col-12 text-center " style="font-style: bold ;">
        <h1 class="text-light display-1">NASA PROJECT: DE L'ESPACE JUSQU'A VOUS</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-light mx-2 p-2 shadow" routerLink="home">Home</button>
        <button class="btn btn-light mx-2 p-2 shadow" routerLink="graph">Graphique</button>
        <button class="btn btn-light mx-2 p-2 shadow" routerLink="incident">Crypto</button>
        <button class="btn btn-light mx-2 p-2 shadow" routerLink="finalSpace">Final Space quotes</button>
    </div>
</div>